<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
</head>
<body>
    <h1>Thank You!</h1>
    <div>
        <a href="http://127.0.0.1:8000/click/Books/">Books</a>
        <a href="http://127.0.0.1:8000/click/Manga/">Manga</a>
        <a href="http://127.0.0.1:8000/click/Movies/">Movies</a>
        <a href="http://127.0.0.1:8000/click/Anime/">Anime</a>
    </div>
    <div>
        <form action="http://127.0.0.1:8000/clicks/">
            <input type="submit" value="View clicks"> 
        </form>
    </div>
</body>
</html>
